<script lang="ts">
    let protocol = "ws://"
    if (window.location.protocol === 'https:') {
        protocol = 'wss://';
    }

    let state: { [key: string]: any } = {};

    let session = "41439156-9726-46c7-9ce6-587aa3411a5d";
    let password = "mypass";

    let socket: WebSocket;
    initConnection();

    function initConnection() {
        socket = new WebSocket(protocol + window.location.host + "/ws");

        socket.onmessage = (event) => {
            let message = event.data.toString();

            let [header, ...content] = message.split(' ');
            content = JSON.parse(content.join(' '));
            switch (header) {
                case "LOGIN_RESP":
                    state = content.state;
                    break;
                case "SCENARIO_UPDATE":
                    state = content.state;
                    break;
            }

        };

        socket.onclose = (event) => {
            socket = new WebSocket(protocol + window.location.host + "/ws");
        };

        function doAdminLogin() {
            socket.send("LOGIN " + JSON.stringify({
                "session": session,
                "password": password
            }));
        }

        socket.onopen = () => {
            doAdminLogin();
        }
    }

    let event = (switchNr: number, set_closed: boolean, set_broken: boolean) => {
        console.log(">" + switchNr + " " + set_closed + " " + set_broken)
        let update: { [key: string]: any } = {}
        let obj = {
            session: session,
            event: "3d simulation event",
            update: update
        }
        obj.update["switch" + (switchNr + 1)] = {"closed": set_closed, "broken": set_broken};
        let msg = "SCENARIO_EVENT " + JSON.stringify(obj);

        socket.send(msg);
    };

    function solved() {
        let update: { [key: string]: any } = {}
        let obj = {
            session: session,
            event: "3d simulation event (solved)",
            update: update
        }
        obj.update["solved"] = true;
        let msg = "SCENARIO_EVENT " + JSON.stringify(obj);

        socket.send(msg);
    };

    const switches = Array.from({length: 30}, (_, index) => ({name: `switch${index + 1}`}));

    function resetSession() {
        let update: { [key: string]: any } = {}
        let obj = {
            session: session,
            state: update
        }
        obj.state["solved"] = false;
        obj.state["keypad"] = "unsolved"
        obj.state["ied"] = {"accessed": false, "loggedIn": false}
        let msg = "SCENARIO_RESET " + JSON.stringify(obj);

        socket.send(msg);
    }
</script>

<div>
    Session: {session}
</div>
<div>
    <pre>
{JSON.stringify(state, null, 2)}
    </pre>
</div>
<div>
    <button on:click={() => resetSession()}>reset the session</button>
</div>
<div>
    <button on:click={() => solved()}>solve challenge</button>
</div>
<div>
    <div>
        3D simulation:
        <div>
            {#each switches as {name}, i (name)}
                <button on:click={() => event(i,false,false)}>{name} open</button>
                <button on:click={() => event(i,true,false)}>{name} close</button>
                <button on:click={() => event(i,false,true)}>{name} break</button>
                <br>
            {/each}
        </div>
    </div>
</div>




