<script lang="ts">
    import Switch from '../lib/Switch.svelte';
    import {SHA256, enc} from 'crypto-js';
    import imgUrl from '../assets/img.jpg';

    let protocol = "ws://"
    if (window.location.protocol === 'https:') {
        protocol = 'wss://';
    }

    let backendLoggedIn = false;
    let session = "41439156-9726-46c7-9ce6-587aa3411a5d";
    let sessionPassword = "mypass";

    let socket: WebSocket;
    initConnection();

    function initConnection() {
        socket = new WebSocket(protocol + window.location.host + "/ws");

        socket.onmessage = (event) => {
            let message = event.data.toString();

            let [header, ...content] = message.split(' ');
            content = JSON.parse(content.join(' '));
            console.log("> " + event.data);

            switch (header) {
                case "WELCOME":
                    //nothing to do
                    break;
                case "LOGIN_RESP":
                    backendLoggedIn = true
                    state = content.state;
                    break;
                case "SCENARIO_UPDATE":
                    state = content.state;
                    break;
                case "ERROR":
                    // should not happen
                    break;
            }
        }

        socket.onopen = (event) => {
            socket.send("LOGIN " + JSON.stringify({
                "session": session,
                "password": sessionPassword
            }));
        };

        socket.onclose = (event) => {
            initConnection();
        };
    }

    let state: { [key: string]: any } = {};

    $: keypadSolved = !!(state.keypad === "solved");
    $: iedLoggedIn = !!(state.ied && state.ied.loggedIn);
    $: iedAccessed = !!(state.ied && state.ied.accessed);

    let iedUsername = "";
    let iedPassword = "";

    const switches = Array.from({length: 30}, (_, index) => ({name: `switch${index + 1}`}));

    function iedLoginCorrect() {
        if (!iedLoggedIn) {
            sendUpdate(true, iedAccessed);
        }
    }

    function sendUpdate(loggedIn: boolean, accessed: boolean) {
        let update: { [key: string]: any } = {}
        let obj = {
            session: session,
            event: "Ied update",
            update: update
        }
        obj.update["ied"] = {
            accessed: accessed,
            loggedIn: loggedIn
        };
        let msg = "SCENARIO_EVENT " + JSON.stringify(obj);
        socket.send(msg);
    }

    function tryIedLogin() {
        if (iedUsername === "admin" && SHA256(iedPassword).toString(enc.Hex) === "072f7ebc7d6f43309340dd9b7e4e8a4732bb542b11817946451f37f929c2deb5") {
            iedLoginCorrect();
        } else {
            alert("Wrong username or password")
        }
    }

    $: loginPageLoaded = backendLoggedIn && keypadSolved && !iedAccessed;
    $:{
        if (loginPageLoaded) {
            sendUpdate(iedLoggedIn, true);
        }
    }
</script>

<main>
    {#if !backendLoggedIn}
        Loading...
    {:else if !keypadSolved}
        Waiting for keypad to be solved...
    {:else}
        <div class="device">
            <img src={imgUrl} alt="Controller Device"/>
        </div>
        <!-- https://sketchfab.com/3d-models/liob-590-d9d9a749ccc14e128bc8c9676853167c-->
        {#if !iedLoggedIn}
            <div class="login">
                Login:
                <input placeholder="username" bind:value={iedUsername}>
                <input placeholder="password" bind:value={iedPassword}>
                <button on:click={()=>tryIedLogin()}>Submit</button>
            </div>
        {:else}
            <div class="overview">
                {#each switches as {name}, i (name)}
                    <Switch {name} status={state[name]} {socket} {session}/>
                {/each}
            </div>
        {/if}
    {/if}
</main>

<style>
    .overview {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-wrap: wrap;
    }

    .device {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .login {
        margin: 10px auto;
        text-align: center;
    }

    img {
        width: 300px;
    }
</style>