<script lang="ts">
    import {SHA256, enc} from 'crypto-js';
    import clickUrl from '../assets/click.mp3';
    import errorUrl from '../assets/error.mp3';
    import grantedUrl from '../assets/granted.mp3';
    import keypadUrl from '../assets/keypad.png';

    let protocol = "ws://"
    if (window.location.protocol === 'https:') {
        protocol = 'wss://';
    }
    let loggedIn = false;

    let session = "41439156-9726-46c7-9ce6-587aa3411a5d";
    let password = "mypass";

    let socket: WebSocket;
    initConnection();

    function initConnection() {
        socket = new WebSocket(protocol + window.location.host + "/ws");

        socket.onmessage = (event) => {
            let message = event.data.toString();

            let [header, ...content] = message.split(' ');
            content = JSON.parse(content.join(' '));
            console.log("> " + event.data);

            switch (header) {
                case "WELCOME":
                    //nothing to do
                    break;
                case "LOGIN_RESP":
                    loggedIn = true;
                    state = content.state;
                    break;
                case "SCENARIO_UPDATE":
                    state = content.state;
                    console.log("state update " + state)
                    break;
                case "ERROR":
                    //should not happen
                    break;
            }
        }

        socket.onopen = (event) => {
            socket.send("LOGIN " + JSON.stringify({
                "session": session,
                "password": password
            }));
        }

        socket.onclose = (event) => {
            initConnection();
        };
    }

    let state: { [key: string]: any } = {};

    let buttonPos = new Map([
        ["1", {x1: 4, y1: 3, x2: 26, y2: 20}],
        ["2", {x1: 38, y1: 3, x2: 60, y2: 20}],
        ["3", {x1: 72, y1: 3, x2: 94, y2: 20}],
        ["4", {x1: 4, y1: 28, x2: 25, y2: 45}],
        ["5", {x1: 38, y1: 28, x2: 60, y2: 45}],
        ["6", {x1: 72, y1: 28, x2: 94, y2: 45}],
        ["7", {x1: 4, y1: 53, x2: 26, y2: 70}],
        ["8", {x1: 39, y1: 53, x2: 60, y2: 70}],
        ["9", {x1: 73, y1: 53, x2: 93, y2: 70}],
        ["*", {x1: 5, y1: 78, x2: 27, y2: 95}],
        ["0", {x1: 39, y1: 78, x2: 60, y2: 95}],
        ["#", {x1: 73, y1: 78, x2: 93, y2: 95}]
    ]);

    const click = new Audio(clickUrl);
    const error = new Audio(errorUrl);
    const granted = new Audio(grantedUrl);
    let code = "";

    function keyPressed(key: string) {
        if (keypadSolved) return;

        click.play();
        if (key === '#') {
            if (SHA256(code).toString(enc.Hex) === "5371e1a064f3cfff62decbc181fdfa0fe8e6fc078afad0e36e438a960d38a4e3") {
                granted.play();
                processKeypadSolved();
            } else {
                error.play();
                code = "";
            }
        } else {
            code += key;
        }
    }

    $: keypadSolved = state && state.keypad === "solved";

    $:{
        if (keypadSolved) {
            code = "access granted";
        }
    }

    function processKeypadSolved() {
        let update: { [key: string]: any } = {}
        let obj = {
            session: session,
            event: "Keypad solved",
            update: update
        }
        obj.update["keypad"] = "solved";
        let msg = "SCENARIO_EVENT " + JSON.stringify(obj);
        socket.send(msg);
    }

    function handleMouseDown(event) {
        const rect = event.target.getBoundingClientRect();
        const sizeX = rect.right - rect.left;
        const sizeY = rect.bottom - rect.top;

        const x = ((event.clientX - rect.left) * 100) / sizeX;
        const y = ((event.clientY - rect.top) * 100) / sizeY;

        for (const [key, value] of buttonPos) {
            if (x > value.x1 && x < value.x2
                && y > value.y1 && y < value.y2) {
                keyPressed(key);
                break;
            }
        }
    }
</script>

<div class="color">
    {#if !loggedIn}
        Loading...
    {:else}
        <input bind:value={code} placeholder="3 digit access code" class:solved={keypadSolved} class="input" readonly/>
        <img src={keypadUrl} alt="Keypad" on:mousedown={handleMouseDown}/>
        <div class="instruction">Press # to confirm.</div>
    {/if}
</div>

<style>
    .color {
        background-color: #000000;
        height: 100vh;
        color: white;
        font-size: 5vh;
    }

    .solved {
        color: green;
    }

    img {
        max-width: 100vw;
        max-height: 80svh;
        box-sizing: border-box;
        position: fixed;
        left: 50%;
        transform: translate(-50%);
        bottom: 5vh;
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.9);
    }

    .input {
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        vertical-align: middle;
        text-align: center;
        height: 10svh;
        box-sizing: border-box;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
    }

    .instruction {
        position: fixed;
        height: 5svh;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        vertical-align: middle;
        text-align: center;
    }

</style>