<script>
    import { Router, Route } from "svelte-routing";
    import Ied from "./routes/Ied.svelte";
    import Status from "./routes/Status.svelte";
    import Admin from "./routes/Admin.svelte";
    import Keypad from "./routes/Keypad.svelte";
    import Main from "./routes/Main.svelte";

    export let url = "";
</script>

<Router {url}>
    <div>
        <Route path="/admin"><Admin /></Route>
        <Route path="/keypad"><Keypad /></Route>
        <Route path="/ied"><Ied /></Route>
        <Route path="/status"><Status /></Route>
        <Route path="/"><Main /></Route>
    </div>
</Router>

<style>
    :global(body) {
        margin:0;
        padding:0;
    }
</style>