<script lang="ts">
    export let name = "dummyswitch";
    export let status = { "closed": true, "broken": false };
    export let socket: WebSocket;
    export let session = "";

    $: isClosed = (!status || status["closed"]);

    function requestSwitch(action: string) {
        let update: { [key: string]: any } = {}
        let obj = {
            session: session,
            event: "IED: switch " + name + " request to " + action,
            update: update
        }
        obj.update[name + "IEDChange"] = action;
        socket.send("SCENARIO_EVENT " + JSON.stringify(obj));
    }

</script>

<div class="switch">
    <div class="title">
        {name}
    </div>
    <div>
        {#if isClosed}
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 50" width="100" height="50">
                <g>
                    <line x1="20" y1="30" x2="80" y2="30" stroke="#000" stroke-width="4"/>
                    <circle cx="80" cy="30" r="5"/>
                    <line x1="80" y1="30" x2="140" y2="30" stroke="#000" stroke-width="4"/>
                    <circle cx="140" cy="30" r="5"/>
                    <line x1="140" y1="30" x2="200" y2="30" stroke="#000" stroke-width="4"/>
                </g>
            </svg>
        {:else}
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 50" width="100" height="50">
                <g>
                    <line x1="20" y1="30" x2="80" y2="30" stroke="#000" stroke-width="4"/>
                    <circle cx="80" cy="30" r="5"/>
                    <line x1="80" y1="30" x2="140" y2="10" stroke="#888" stroke-width="4"/>
                    <circle cx="140" cy="30" r="5"/>
                    <line x1="140" y1="30" x2="200" y2="30" stroke="#000" stroke-width="4"/>
                </g>
            </svg>
        {/if}
    </div>
    <div>
        <button on:click={() => requestSwitch('open')}>Open</button>
        <button on:click={() => requestSwitch('close')}>Close</button>
    </div>

</div>

<style>
    .switch {
        color: black;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
        border-radius: 15px;
        text-align: center;
        border: solid;
        border-width: 1px;
        margin: 20px;
        overflow: hidden;
    }

    .title {
        background-color: #618698;
        padding: 10px;
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 10px;
        color: white;
        font-weight: bold;
        text-transform: capitalize;
    }

    button {
        border-radius: 8px;
        border: 1px solid transparent;
        padding: 0.6em 1.2em;
        font-size: 1em;
        font-weight: 500;
        font-family: inherit;
        background-color: #dcdcdc;
        cursor: pointer;
        transition: border-color 0.25s;
        margin: 10px;
    }

    button:hover {
        border-color: #000;
        border-width: 1px;
    }


</style>